<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Read Review</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1853ff613c.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <div class="container"></div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="history.back()"><i class="fas fa-long-arrow-alt-left" style="color:#ffff; font-size:25px"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/orderlist"><i class="fas fa-list-ul"></i> OrderList</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div style="text-align: left; margin-left:20px;">
            <h2>ㅇㅇ 휴게소</h2>
        </div>
    </div> 
    <div class="well">
        <div class="totalReview" id="totalReviewData" style="text-align:center; top:50%; left:50%"></div>
    </div>
    <div class="reviews" id="reviewData"></div>


    <script>
    const qs = getQueryStringObject();
    const area_nm = qs.area_nm;

    // 리뷰 불러오기 ajax
    $.ajax({
        url: "readReview",
        type: "POST",
        data: {
            area_nm: area_nm
        },
        success: function (data) {
            var result = JSON.parse(data);
            var total = result[0];
            var list = result.slice(1);
            console.log("total : ",total.score);
            console.log("list : ",list);
            const div1 = document.getElementById("totalReviewData");
            // 여기서 total 점수랑 list점수 디비에서 읽어서 가져오니까 이걸로 사용해서 그리세요
            showTotalScore(String(total.score));
            div1.innerHTML += `총 리뷰 ${list.length}개`;
            showReview(list);
        }
    });

    function showTotalScore(score){
        // 전체 평균평점하고 style하고 크기 조정해주어야함.
        var tatalScore = drawStar(score, "3x");
        const div1 = document.getElementById("totalReviewData");
        div1.innerHTML += `<h3>평점</h3>`
        div1.innerHTML += tatalScore;
        div1.innerHTML += `<br><h3>${score} / 5.0</h3>`;
    }

    //사용자 정보 불러오기
    function showReview(reviewList){
        const div2 = document.getElementById("reviewData");

        //리뷰 리스트 출력
        for (i in reviewList){
            
            var starImage = drawStar(String(reviewList[i].score), "1x");
            div2.innerHTML +=`<div style="border-top:1px solid black;"><br>`;
            div2.innerHTML +=
            `
            <div class="row blockquote review-item" style="margin-left:40px; margin-right:40px">
                <div class="caption">
                    <small>${reviewList[i].orderer_pn}  ${starImage}</a></small>
                </div>
            <div class="col-md-9">
                <h4>${reviewList[i].comments}</h4>
                <div class="ratebox text-center" data-id="0" data-rating="5"></div>
                <p class="review-text">먹은음식 먹은음식 먹은음식</p>
        
                <small class="review-date">${reviewList[i].write_time}</small>
            </div>`;
            div2.innerHTML += `</div><br><br>`;
        }
    }
    
    function drawStar(avg_score, fontSize) {
        //var avg_score = "3.2"; // DB에서 평점 받아와야함
        var n;
        var f;
        fontSize = "-"+fontSize;
        avg_score = avg_score.split("."); // [ 3, 5]
        n = parseInt(avg_score[0]); // 3
        f = parseFloat("0." + avg_score[1]); // 0.5
        var score_img = `<td>`;
        for (var i = 0; i < n; i++) {
            score_img += `<i class="fas fa-star fa${fontSize}" style="color: orange;"></i>`;
        }
        if (f != 0.0) {
            score_img += `<i class="fas fa-star-half-alt fa${fontSize}" style="color: orange;"></i>`;
        }
        score_img += `</td>`;
        return score_img;
    }

    // 쿼리스트링 잘라오기
    function getQueryStringObject() {
        var a = window.location.search.substr(1).split('&');
        if (a == "") return {};
        var b = {};
        for (var i = 0; i < a.length; ++i) {
            var p = a[i].split('=', 2);
            if (p.length == 1) {
                b[p[0]] = "";
            } else {
                b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
        }
        return b;
    }
    </script>
</html>