<!DOCTYPE html>
<html lang="en">
    <head>
    <title>휴게소 바로 주문</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1853ff613c.js" crossorigin="anonymous"></script>
    </head>

    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="history.back()"><i class="fas fa-arrow-left" style="color:#ffff; font-size:25px"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="/orderlist"><i class="fas fa-list-ul"></i> OrderList</a></li>
                    <li><a href="/arealist"><i class="fas fa-list-ul"></i> AreaList</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-header">
            <h3><span id="area_nm"></span>휴게소</h3>
        </div>
    <div class="well">
        <div class="totalReview" id="totalReviewData" style="text-align:center; top:50%; left:50%"></div>
    </div>
    <div class="page-header"><h3>리뷰</h3></div>
    <div class="reviews" id="reviewData" style="overflow-y: scroll; overflow-x: hidden; height: 260px;"></div>
    </div>

    <script>
    const qs = getQueryStringObject();
    const area_nm = qs.area_nm;
    document.getElementById("area_nm").innerHTML = area_nm;
    // 리뷰 불러오기 ajax
    $.ajax({
        url: "readReview",
        type: "POST",
        data: {
            area_nm: area_nm
        },
        success: function (data) {
            var result = JSON.parse(data);
            if(result.length == 0){
                alert("휴게소에 리뷰가 없습니다.");
                window.history.back();
            }
            else{
                var total = result[0];
                var list = result.slice(1);
                console.log("total : ",total.score);
                console.log("list : ",list);
                const div1 = document.getElementById("totalReviewData");
                // 여기서 total 점수랑 list점수 디비에서 읽어서 가져오니까 이걸로 사용해서 그리세요
                showTotalScore(String(total.score));
                div1.innerHTML += `총 리뷰 ${list.length}개`;
                showReview(list);
            }
        }
    });

    function showTotalScore(score){
        // 전체 평균평점하고 style하고 크기 조정해주어야함.
        var tatalScore = drawStar(score, "3x");
        const div1 = document.getElementById("totalReviewData");
        div1.innerHTML += `<h3>평점</h3>`
        div1.innerHTML += tatalScore;
        div1.innerHTML += `<br><h3>${Math.round(score*10)/10} / 5.0</h3>`;
    }

    //사용자 정보 불러오기
    function showReview(reviewList){
        const div2 = document.getElementById("reviewData");

        //리뷰 리스트 출력
        for (let i in reviewList){
            let foodList = new Array();
            let reviewItem = reviewList[i];

            $.ajax({
                url: "readReviewFood",
                type: "POST",
                data: {
                    order_no: reviewList[i].order_no
                },
                success: function (data) {
                    let temp = JSON.parse(data);
                    // console.log(temp);
                    foodList = temp.slice();

                    console.log(i);
                    console.log(foodList);
                    console.log(reviewItem);

                    let starImage = drawStar(String(reviewItem.score), "1x");
                    let phoneNum = reviewItem.orderer_pn;
                    let formatedPhoneNum = phoneNum.substr(0,7).concat("", '****');

                    div2.innerHTML +=
                    `
                    <div class="container">
                        <h4>
                            <strong>${formatedPhoneNum}</strong> <small>${starImage}</small><br>
                            <small class="review-date">${reviewItem.write_time.substr(0,10)}</small><br><br>
                            ${reviewItem.comments}
                        </h4>
                        <br>
                    `;

                    for(let j in foodList) {
                        console.log(foodList[j].food_nm);
                        div2.innerHTML += `<span class="label label-default">${foodList[j].food_nm}</span>`;
                    }

                    div2.innerHTML += 
                    `
                    </div>
                    <hr>
                    `;
                }
            });

            
        }
    }
    
    function drawStar(avg_score, fontSize) {
        //var avg_score = "3.2"; // DB에서 평점 받아와야함
        var n;
        var f;
        fontSize = "-"+fontSize;
        avg_score = avg_score.split("."); // [ 3, 5]
        n = parseInt(avg_score[0]); // 3
        f = parseFloat("0." + avg_score[1]); // 0.5
        var score_img = `<td>`;
        for (var i = 0; i < n; i++) {
            score_img += `<i class="fas fa-star fa${fontSize}" style="color: orange;"></i>`;
        }
        if (f != 0.0) {
            score_img += `<i class="fas fa-star-half-alt fa${fontSize}" style="color: orange;"></i>`;
        }
        score_img += `</td>`;
        return score_img;
    }

    // 쿼리스트링 잘라오기
    function getQueryStringObject() {
        var a = window.location.search.substr(1).split('&');
        if (a == "") return {};
        var b = {};
        for (var i = 0; i < a.length; ++i) {
            var p = a[i].split('=', 2);
            if (p.length == 1) {
                b[p[0]] = "";
            } else {
                b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
            }
        }
        return b;
    }
    </script>
</html>