<!DOCTYPE html>
<html lang="en">

<head>
  <title>Read Review</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/1853ff613c.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"><i class="fas fa-utensils" style="color:#ffff; font-size:25px"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/orderlist"><i class="fas fa-list-ul"></i> OrderList</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="totalReview" id="totalReviewData" style="text-align:center; top:50%; left:50%"></div>
<div class="reviews" id="reviewData"></div>

<script>
    showTotalScore();
    showReview();

    function showTotalScore(){
        var score = "3.0";
        // 전체 평균평점하고 style하고 크기 조정해주어야함.
        var tatalScore = drawStar(score);
        const div1 = document.getElementById("totalReviewData");
        div1.innerHTML += `<br><h3>평점</h3>`
        div1.innerHTML += tatalScore;
        div1.innerHTML += ` (${score} / 5.0)`;
        div1.innerHTML += `<br><br><br>`

    }

    //사용자 정보 불러오기
    function showReview(){
        const div2 = document.getElementById("reviewData");

        //임의로 5개 원래는 리뷰 개수와 내용대로 출력
        for(var i=0; i<5; i++){
            var starImage = drawStar("4.5");
            div2.innerHTML +=`<div style="border-top:1px solid black;"><br>`;
            div2.innerHTML +=
            `
            <div class="row blockquote review-item" style="margin-left:30px">
                <div class="caption">
                    <small>by Joe</a></small>
                </div>
            <div class="col-md-9">
                <h4>My awesome review ${starImage} </h4>
                <div class="ratebox text-center" data-id="0" data-rating="5"></div>
                <p class="review-text">My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. My awesome review. </p>
        
                <small class="review-date">March 26, 2017</small>
            </div>                          
            </div>
            <br><br>`;
            div2.innerHTML += `</dic>`;
        }
    }
    
    function drawStar(avg_score) {
        //var avg_score = "3.2"; // DB에서 평점 받아와야함
        var n;
        var f;
        avg_score = avg_score.split("."); // [ 3, 5]
        n = parseInt(avg_score[0]); // 3
        f = parseFloat("0." + avg_score[1]); // 0.5
        var score_img = `<td>`;
        for (var i = 0; i < n; i++) {
            score_img += `<i class="fas fa-star" style="color: orange;"></i>`;
        }
        if (f != 0.0) {
            score_img += `<i class="fas fa-star-half" style="color: orange;""></i>`;
        }
        score_img += `</td>`;
        return score_img;
    }
</script>
</html>