<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WriteReview</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1853ff613c.js" crossorigin="anonymous"></script>
    <style>
      .checked {
        color: tomato;
      }
      .unchecked {
        color: black;
      }
    </style>
  </head>

  <body>
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">리뷰 작성하기</h4>
        </div>
        <div class="modal-body">
          <form method="POST">
            <div class="form-group">
              <label for="rating" class="control-label">별점:</label>
              <a href="#"><i class="fas fa-star checked" id="one"></i></a>
              <a href="#"><i class="fas fa-star unchecked" id="two"></i></a>
              <a href="#"><i class="fas fa-star unchecked" id="three"></i></a>
              <a href="#"><i class="fas fa-star unchecked" id="four"></i></a>
              <a href="#"><i class="fas fa-star unchecked" id="five"></i></a>
            </div>
            <div class="form-group">
              <label for="message" class="control-label">내용:</label>
              <textarea class="form-control" id="message" maxlength="100" placeholder="후기를 입력해 주세요"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeBtn">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" id="writeBtn">작성하기</button>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  $(".close").click(() => {
    self.close();
  });
  $("#closeBtn").click(() => {
    self.close();
  });

  const list = ["one", "two", "three", "four", "five"];

  list.forEach((element, index) => {
    document.getElementById(element).addEventListener("click", () => {
      let cls = document.getElementById(element).className;

      if (cls.includes("checked")) {
        document.getElementById(element).classList.remove("unchecked");
        document.getElementById(element).classList.add("checked");
      } else {
        document.getElementById(element).classList.remove("checked");
        document.getElementById(element).classList.add("unchecked");
      }
    });
  });

  $("#writeBtn").click(() => {
    let date = new Date();
    let data = {
      phoneNumber: "01012341234", // 하드코딩
      rate: document.getElementsByClassName("checked").length,
      message: document.getElementById("message").value,
      date: date.format(),
    };
    console.log(data);
    if (data.message) {
      $.ajax({
        url: "writeReview",
        type: "POST",
        data,
        success: function (data) {
          console.log(data);
          alert("작성되었습니다.");
          self.close();
        },
      });
    } else {
      alert("내용을 입력하세요.");
    }
  });

  // 데이트 포맷 변환 YYYY-MM-DD
  Date.prototype.format = function () {
    let year = this.getFullYear().toString();
    let month = (this.getMonth() + 1).toString();
    let date = this.getDate().toString();
    return year + "-" + (month[1] ? month : "0" + month[0]) + "-" + (date[1] ? date : "0" + date[0]);
  };
</script>
