<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>휴게소 바로 주문</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .body {
            height: 100%;
        }

        .jumbotron {
            background-color: #ffffff;
            color: black;
            padding: 100px 25px;
            font-family: Montserrat, sans-serif;

        }

        .navbar {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <i class="fas fa-utensils" style="color: #ffff; font-size: 25px"></i>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron text-center">
        <h1 style="font-size: xx-large;"><strong>A S A P</strong></h1>
        <h3><strong>휴게소 간편주문 서비스</strong></h3>
        <br><br>
        <form>
            <div class="form-group">
                <div style="padding-left:25%; padding-right: 25%;">
                    <input type="text" class="form-control" id="phoneNumber" onkeypress="inNumber();"
                        class="form-control" size="50" placeholder="Phone Number" required />
                </div>
                <br>
                <button type="button" class="btn btn-danger" id="myBtn" onclick="input()"><strong>GET
                        START</strong></button></div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-sm">
                    <!-- Modal -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type=" button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> 경고 <i class="fas fa-exclamation fa-lg" style="color:red"></i></h4>
                        </div>
                        <div class="modal-body" id="printNum" style="text-align:center;">
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button type="button" id="btnYes" class="btn btn-success"
                                        data-dismiss="modal">YES</button>
                                </div>
                                <div class="col-xs-2">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</body>
<script>

    $(document).ready(function () {
        $("#myBtn").click(function () {
            let phoneNum = document.getElementById('phoneNumber').value;
            if (phoneNum.length == 11) {
                $("#myModal").modal();
            } else {
                alert("전화번호 형식이 아닙니다.")
            }
        });
    });

    // YES 버튼 눌렀을때 home 이동
    $("#btnYes").click(function () {
        var temp = document.getElementById("phoneNumber").value;
        localStorage.setItem("userPhoneNum", temp);
        window.location.href = "/home";
    });
</script>

<script type="text/javascript">
    function inNumber() {
        if (event.keyCode < 48 || event.keyCode > 57) {
            event.returnValue = false;
        }
    }
</script>

<script>
    var pNumber;

    function input() {
        var temp = document.getElementById("phoneNumber").value;
        console.log(temp);
        pNumber = temp;
        printNumber();
    }

    function printNumber() {
        var div1 = document.getElementById("printNum");
        div1.innerHTML = `<p>입력하신 번호가<br><strong>${pNumber}</strong><br>가 맞으신가요?</p>`;
    }
</script>

</html>