<!DOCTYPE html>
<html lang="en">
  <head>
    <title>메뉴 추가</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1853ff613c.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">메뉴추가</h4>
        </div>
        <div class="modal-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="food_code" class="col-sm-3 control-label">음식코드</label>
              <div class="col-sm-9">
                <input class="form-control" id="food_code" type="text" disabled />
              </div>
            </div>
            <div class="form-group">
              <label for="food_name" class="col-sm-3 control-label">음식이름</label>
              <div class="col-sm-9">
                <input class="form-control" id="food_name" type="text" />
              </div>
            </div>
            <div class="form-group">
              <label for="food_price" class="col-sm-3 control-label">음식가격</label>
              <div class="col-sm-9">
                <input class="form-control" id="food_price" type="text" />
              </div>
            </div>
            <fieldset>
              <div class="form-group">
                <label for="best_yn" class="col-sm-3 control-label">베스트메뉴</label>
                <div class="col-sm-9">
                  <select id="best_yn" class="form-control">
                    <option>Y</option>
                    <option>N</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label for="recommend_yn" class="col-sm-3 control-label">추천메뉴</label>
                <div class="col-sm-9">
                  <select id="recommend_yn" class="form-control">
                    <option>Y</option>
                    <option>N</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label for="premium_yn" class="col-sm-3 control-label">프리미엄메뉴</label>
                <div class="col-sm-9">
                  <select id="premium_yn" class="form-control">
                    <option>Y</option>
                    <option>N</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="form-group">
                <label for="season_yn" class="col-sm-3 control-label">시즌메뉴</label>
                <div class="col-sm-9">
                  <select id="season_yn" class="form-control">
                    <option>4</option>
                    <option>S</option>
                    <option>W</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <div class="form-group">
              <label for="area_code" class="col-sm-3 control-label">휴게소코드</label>
              <div class="col-sm-9">
                <input class="form-control" id="area_code" type="text" disabled />
              </div>
            </div>
            <div class="form-group">
              <label for="area_nm" class="col-sm-3 control-label">휴게소이름</label>
              <div class="col-sm-9">
                <input class="form-control" id="area_nm" type="text" disabled />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeBtn">Close</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" id="addBtn">추가하기</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // 숫자포맷
  const formatNum = (number) => {
    let result;
    result = number < 10 ? "00" + number : number < 100 ? "0" + number : number;
    return result;
  };

  const qs = getQueryStringObject();
  const area_nm = qs.area_nm;
  const food_code = qs.food_code;

  window.onload = setDefaultData();

  // 휴게소명, 휴게소코드, 음식코드 자동 입력(수정 불가능)
  function setDefaultData() {
    var area = food_code.substr(0, 6);
    var food = "F" + formatNum(parseInt(food_code.substr(7, 3)) + 1);
    console.log(food_code, area_code);
    $("#area_nm").val(area_nm);
    $("#area_code").val(area);
    $("#food_code").val(food);
  }

  // URL에 쿼리스트링 받아오기
  function getQueryStringObject() {
    var a = window.location.search.substr(1).split("&");
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i) {
      var p = a[i].split("=", 2);
      if (p.length == 1) {
        b[p[0]] = "";
      } else {
        b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
      }
    }
    return b;
  }

  // 팝업에서 입력 다하고 확인 눌렀을때, 서버로 통신해서 DB에 삽입
  $("#addBtn").click(() => {
    var foodName = $("#food_name").val();
    var foodPrice = $("#food_price").val();

    if (foodName === "") {
      alert("음식 이름을 입력해 주세요");
    } else if (foodPrice === "") {
      alert("음식 가격을 입력해 주세요");
    } else {
      var best_yn = $("#best_yn").val();
      var recommend_yn = $("#recommend_yn").val();
      var premium_yn = $("#premium_yn").val();
      var season_yn = $("#season_yn").val();
      var foodCode = food_code.substr(0, 7) + formatNum(parseInt(food_code.substr(7, 3)) + 1);

      $.ajax({
        url: "adminAddMenu",
        type: "POST",
        data: {
          food_code: foodCode,
          food_name: foodName,
          food_price: foodPrice,
          recommend_yn: recommend_yn,
          best_yn: best_yn,
          premium_yn: premium_yn,
          season_yn: season_yn,
          stdRestCd: food_code.substr(0, 6),
          stdRestNm: area_nm + "휴게소",
        },
        success: function (data) {
          console.log(data);
          if (data == "Success") {
            alert("등록 완료");
            window.close();
            location.href = "/menu";
          } else {
            alert("등록 실패");
          }
        },
      });
    }
  });

  $(".close").click(() => {
    self.close();
  });

  $("#closeBtn").click(() => {
    self.close();
  });
</script>
